.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px 0;
}
.header__logo__sign-in{
    font-size: 2.6rem;
    font-weight: 400;
}
.header__logo__sign-in,.header__logo__help{
    color: #1BB9DC;
}
.header__logo__help{
    text-decoration: none;

}
.content{
    background-color: #98B7F2;
    width: 100%;
    height: calc(100vh - 70px);
}
.content__img{
    width: 500px;
}
.content__img__form{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__form{
    border: 2px solid grey;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
}
.content__form__form{
    display: flex;
    flex-direction: column;
}
.content__form__label{
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.content__form__label__pass,.content__form__label__email,.content__form__label__checkpass{
    margin-top: 20px;
}
.content__form__input{
    padding: 5px 5px;
    width: 250px;
    border: 2px solid rgb(181, 176, 176);
    border-radius: 5px;
}
.content__form__input:focus{
    outline: none;
}
.content__form__link{
    margin-top: 20px;
    margin-bottom: 5px;
    color: #0501E0;
    text-decoration: none;
}
.content__form__button{
    margin-top: 35px;
    padding: 5px 0;
    cursor: pointer;
}