.header{
    background-color: #ACD1FC;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav__img{
    width: 128px;
}
.header__nav__help{
    color: #0c9bbb;
}
/* content */
.content{
    margin-top: 74px;
    background-color: white;
    padding: 30px;
    padding-right: 130px;
    position: relative;
    padding-bottom: 100px;
}
.content__title{
    font-size: 2.5rem;
    color: #257cdf;
    font-weight: 400;
}
.content__form{
    margin-top: 30px;
}
.content__form__label__input{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    /* border: 2px solid black; */
}
.content__form__label{
    color: #257cdf;
    min-width: 150px;
    font-size: 1.4rem;
}
.content__form__input{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
}
.content__form__input:focus{
    outline: none;
}
/* .content__form__label__input__img--input--submit{
     border: 2px solid red; 
} */
.content__form__label__input__submit{
    transform: translateX(-50%);
    margin-left: 50%;
}
.content__form__label__input-img{
    display: flex;
}
.content__form__label__input__img{
    width: 50%;
    padding: 10px;
}
.content__form__label__input__submit,
.content__form-form__button__submit{
    padding: 10px;
    background-color:#257cdf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content__form__label__input__mean{
    display: flex;
    align-items: flex-start;
    /* border: 2px solid red; */
}
b{
    font-size: 1.4rem;
}
.back{
    padding-left: 10px;
    padding-top: 5px;
    line-height: 20px;
    font-size: 1.4rem;
}
.back__block{
    line-height: 20px;
    font-size: 1.4rem;
}
.content__form__label__color-back{
    color: black;
}
.content__form-form__button__submit{
    position: absolute;
    left: 50%;
    margin-left: -60px;
}
.content__form-form__button__submit a{
    text-decoration: none;
    color: white;
}
.content__form__input--hiden{
    display: none;
}
/* footer */
.footer{
    /* border: 2px solid red; */
    background-color: #DBCDCD;
}
.footer__top{
    padding: 20px 0;
}
.footer__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.footer__items{
    flex: 1;
    text-align: center;
}
.footer__link{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.footer__center{
    width: 100%;
    text-align: center;
}
.footer__bottom{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    line-height: 20px;
}
.footer__bottom__span{
    font-size: 1.0rem;
}