.header{
    background-color: #ACD1FC;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
.header__nav__list__list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header__nav__list__items{
    display: inline-block;
}
.header__nav__list-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.header__nav__list-link--white i{
    font-size: 1.5rem;
}
.header__nav__list-link--white{
    color: white;
}
.header__nav__list-left .header__nav__list__items{
    margin-right: 20px;
}
.header__nav__list-right .header__nav__list__items{
    margin-left: 20px;
}
.header__logo-search__imglogo{
    width: 128px;
}
.header__logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-search__input{
    width: 600px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.header__logo-search__input:focus,.header__logo-search__button:focus{
    outline: none;
}
.header__logo-search__search{
    position: relative;
    display: flex;
    align-items: center;
}
.header__logo-search__search_chutro{
    position: relative;
    display: flex;
    align-items: center;
    right: 50% ;
    transform: translateX(50%) ;
}
.header__logo-search__button{
    position: absolute;
    right: 1px;
    width: 50px;
    height: 38px;
    border-radius: 10px;
    background-color: #470BF1;
    border: none;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
}
.header__logo-search__button i{
    font-size: 1.5rem;
}
.header__adress__money__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__adress__money{
    padding: 10px 0;
}
.header__adress__money__items{
    display: inline-block;
    margin-right: 20px;
}
.header__adress__money__link{
    text-decoration: none;
    color: black;
}
.header__nav__list-link--left{
    margin-left: 5px;
}
.header__nav__list-link--right{
    margin-right: 5px;
}
.slides__slick-slider{
    width: 67%;
    padding: 10px;
    /* border: 2px solid red; */
}
.slides__items__img{
    width: 100%;
}
.slick-arrow{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: white;
}
.slick-arrow i{
    font-size: 2rem;
}
.slick-prev{
    left: 20px;
    z-index: 2;
}
.slick-next{
    right: 20px;
}
.slick-dots{
    position: absolute;
    text-indent: -9999px;
    list-style: none;
    padding: 0;
    margin: 0;
    bottom: 50px;
    display: flex !important;
    transform: translateX(-50%);
    left: 50%;
}
.slick-dots li{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.4s;
}
.slick-dots li:hover{
    background-color: white;
}
.slick-active{
    background: white;
}
.slides__img{
    width: 33%;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slides__img__top,.slides__img__bottom{
    width: 100%;
    /* border: 2px solid red; */
}
.slides__img__img{
    width: 100%;
}
.slides{
    display: flex;
    margin-top: 125px;
}
.my__hotel{
    background-color: #470bf1;
    display: flex;
    width: 128px;
    border-radius: 10px;
    height: 40px;
    align-items: center;
}
.my__hotell{
    background-color: #ACD1FC;
    display: flex;
    width: 128px;
    border-radius: 10px;
    height: 40px;
    align-items: center;
}
.my__hotel a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: auto;
}

/* content */
.content{
    /* border: 2px solid red; */
    /* margin-top: 50px; */
}
.content__money__number{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content__money__number__border{
    flex: 1;
    /* border: 2px solid black; */
    padding: 10px;
    position: relative;
    padding-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    width: 25%;
}
.content__money__number__while{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    padding-bottom: 10px;
}
.content__money__number__img{
    width: 100%;
    transition: 0.4s;
}
.content__money__number__text{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.content__money__number__span{
    flex: 1;
    text-align: center;
    color: black;
}.content__money__number__span:nth-child(1){
    color: red;
}
.content__title{
    background-color: white;
    padding: 10px 0;
    margin-top: 50px;
}
.content__title__h3{
    margin: 0;
    padding-left: 10px;
    font-size: 2.0rem;
    font-weight: 500;
    color: red;
}
.content__title__h3__mid{
    margin: auto;
    padding-left: 0px;
    width: 315px;
}
.content__money__number--hidden , .content__button__hidden{
    display: none !important;
}
.content__button__show{
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
}
.content__button__show__text{
    background-color:#470BF1;
    padding: 10px;
    border-radius: 5px;
    color: white;
    min-width: 300px;
    text-align: center;
}
.content__money__number__while__link{
    text-decoration: none;
}
.content__money__number__block__title{
    color: white;
    background-color: black;
    left: 0px;
    right: 0;
    bottom: -100px;
    position: absolute;
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.content__money__number__border:hover{
    border: 2px solid black;
}
.content__money__number__border:hover .content__money__number__block__title{
    opacity: 1;
    visibility: visible;
    bottom: 5px;
}
.content__blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: visible;
    background-color: black;
    transition: 0.4s;
}
.content__money__number__while__link__img{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}
.content__money__number__while__link__img:hover 
.content__blur{
    opacity: 0.5;
    visibility: visible;
}
.content__money__number__while__link__img:hover
.content__money__number__img{
    transform: scale(1.5);
}
.back{
    text-decoration: none;
}
/* footer */
.footer{
    /* border: 2px solid red; */
    background-color: #DBCDCD;
}
.footer__top{
    padding: 20px 0;
}
.footer__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.footer__items{
    flex: 1;
    text-align: center;
}
.footer__link{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.footer__center{
    width: 100%;
    text-align: center;
}
.footer__bottom{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    line-height: 20px;
}
.footer__bottom__span{
    font-size: 1.0rem;
}
.chutro_thongbao{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
}
.chutro_thongbao p{
    align-items: center;
    font-size: 20px;
    width: 400px;
    margin: 88px auto;
}
.chutro_xacnhan{
    margin: 30px auto;
    width: 200px;
    height: 40px;
    border: none;
}
.chutro_xacnhan button{
    width: 200px;
    height: 40px;
    background-color: #6895EB;
    border: none;
}
.chutro_xacnhan a{
    color: white;
    font-size: 14px;
}