a{
    text-decoration: none;
}
.header{
    background-color: #ACD1FC;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
.header__nav__list__list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header__nav__list__items{
    display: inline-block;
}
.header__nav__list-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.header__nav__list-link--white i{
    font-size: 1.5rem;
}
.header__nav__list-link--white{
    color: white;
}
.header__nav__list-left .header__nav__list__items{
    margin-right: 20px;
}
.header__nav__list-right .header__nav__list__items{
    margin-left: 20px;
}
.header__logo-search__imglogo{
    width: 128px;
}
.header__logo-search{
    display: flex;
    justify-content: space-between;
}
.header__logo-search__input{
    width: 600px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.header__logo-search__input:focus,.header__logo-search__button:focus{
    outline: none;
}
.header__logo-search__search{
    transform: translateX(50%);
    right: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.header__logo-search__button{
    position: absolute;
    right: 1px;
    width: 50px;
    height: 38px;
    border-radius: 10px;
    background-color: #470BF1;
    border: none;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
}
.header__logo-search__button i{
    font-size: 1.5rem;
}
.header__adress__money__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__adress__money{
    padding: 10px 0;
}
.header__adress__money__items{
    display: inline-block;
    margin-right: 20px;
}
.header__adress__money__link{
    text-decoration: none;
    color: black;
}
.header__nav__list-link--left{
    margin-left: 5px;
}
.header__nav__list-link--right{
    margin-right: 5px;
}
/* content */
.content{
    margin-top: 125px;
    padding: 20px 0;
    display: flex;
    padding-bottom: 155px;
}
.content__left{
    flex: 1;
}
.content__right{
    flex: 4;
}
.content__form__input-label{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.content__title{
    font-size: 1.5rem;
    font-weight: 500;
}
.content__title--padding-top{
    padding-top: 20px;
}
.content__form__label{
    margin-left: 5px;
}
.content__right__money__adress{
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.content__right__border{
    width: 20%;
    /* border: 2px solid black; */
    padding: 10px;
}
.content__right__white{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}
.content__right__white__link__img{
    width: 100%;
    transition: 0.4s;
}
.content__right__white__money__adress{
    display: flex;
    flex-direction: column;
}
.content__right__white__money__adress__search{
    display: block;
    flex-direction: column;
}
.left__white__money__adress__search{
    padding: 0 20px;
}
.right__white__money__adress__search{
    padding: 0 20px;
    float: right;
}
.content__bottom__fix__left{
    padding: 0 20px;

}
.content__bottom__fix__rigt{
    padding: 0 20px;
    float: right;
}



.content__right__white__money__adress__span{
    text-align: center;
    font-size: 1.1rem;
    line-height: 20px;
    color: black;
}
.content__right__white__money__adress__span--red{
    color: red;
}
.content__right__white__link__img__blur{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.content__right__white__link__blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    background-color: black;
}
.content__right__white__link__img__blur:hover 
.content__right__white__link__blur{
    opacity: 0.5;
    visibility: visible;
}
.content__right__white__link__img__blur:hover 
.content__right__white__link__img{
    transform: scale(1.5);
}
/* footer */
.footer{
    /* border: 2px solid red; */
    background-color: #DBCDCD;
}
.footer__top{
    padding: 20px 0;
}
.footer__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.footer__items{
    flex: 1;
    text-align: center;
}
.footer__link{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.footer__center{
    width: 100%;
    text-align: center;
}
.footer__bottom{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    line-height: 20px;
}
.footer__bottom__span{
    font-size: 1.0rem;
}
